@model Scaffold_CMS.Models.Dinosaur

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dinosaur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NeedToKnow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NeedToKnow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Behavior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Behavior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialInteraction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialInteraction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackLimits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackLimits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.Image" alt="@Model.Name" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Additionalinfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Additionalinfo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
